# Environment
NODE_ENV=development
PORT=3001

# Database
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/mganik-inventory"

# API
API_BASE_URL=http://localhost:3001

# Logging
LOG_LEVEL=info
